*
{
	box-sizing: border-box;
}

.cuadrado
{
	width: 100px;
	height: 100px;
	background-color: red;
	margin-bottom: 15px;
}

.cuadrado .cuadrado
{
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
}

.circulo
{
	width: 70px;
	height: 70px;
	background-color: green;
	border-radius: 100%;
}